@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rokkitt:wght@700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-rokkitt: Rokkitt;

  /* font sizes */
  --font-size-13xl: 32px;
  --font-size-3xl: 22px;
  --font-size-lg: 18px;

  /* Colors */
  --color-white: #fff;
  --color-orangered: #ff3d00;
  --color-silver: #c4c4c4;

  /* Border radiuses */
  --br-231xl: 250px;
  --br-31xl: 50px;
}
